#root {
  max-width: 1280px;
  margin: 0 auto;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.shimmer {
  transform: translateX(-100%);
  animation: shimmer 1.5s infinite;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
}
